.testimonials-container .clients-role {
  color: #6f6b80;
  font-family: "Open Sans", Sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6em;
}

.testimonials-container h4 {
  color: #f75023;
  font-family: "Open Sans", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4em;
}

.clients-testimonial {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.testimonials-container h2 {
  color: #000000;
  font-family: "Open Sans", Sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.4em;
}

.testimonials-container h3 {
  color: #000000;
  font-family: "Open Sans", Sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.testimonials-container p {
  color: #6f6b80;
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.6em;
}

.testimonials-text {
  color: #000000;
  font-family: "Open Sans", Sans-serif;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 720px) {
  .clients-testimonial {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr;
  }
}
