.banner {
  background-image: url("https://i.ibb.co/j3KBy5Q/banner-bg-1.jpg");
  height: 100%;
  width: 100%;
}

.banner-section {
  margin-left: 7%;
  margin-right: 7%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
}

.banner-section h4 {
  font-size: 25px;
  color: #f75023;
  font-family: "Open Sans", Sans-serif;
  font-weight: 500;
  line-height: 1.3em;
}

.banner-section h2 {
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 1.3em;
}

.banner-section h5 {
  color: #000000;
  font-family: "Open Sans", Sans-serif;
  font-size: 21px;
  font-weight: 400;
}

.banner-section p {
  color: #6f6b80;
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

.bd {
  color: #1cbe59;
}

.about-me-btn {
  color: white;
  border: 2px solid #f75023;
  background-color: #f75023;
}

.about-me-btn:hover {
  color: black;
  border: 2px solid #f75023;
  background-color: transparent !important;
  transition-duration: 0.3s;
}

.about-me-btn .about-me-span {
  font-weight: bold;
  font-size: 16px;
  transition-duration: 0.4s;
}

.portfolio-image .image {
  height: 410px;
  width: 410px;
}

.react-img,
.mongodb-img,
.nodejs-img {
  height: auto; /* Maintain aspect ratio */
  animation: moveUpDown 3s infinite linear;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.navigate-down-btn {
  border: 2px solid black;
}

.navigate-down-btn small {
  font-weight: 800;
}

/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
  /* Styles for phones */
  .banner-section {
    margin-left: 7%;
    margin-right: 7%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .first-content {
    order: 2; /* Change the order of the first content for smaller screens */
  }

  .second-content {
    order: 1; /* Change the order of the second content for smaller screens */
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* Styles for tablets */
  .banner-section {
    flex-direction: column-reverse;
    margin-left: 7%;
    margin-right: 7%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .first-content {
    order: 2; /* Change the order of the first content for smaller screens */
  }

  .second-content {
    order: 1; /* Change the order of the second content for smaller screens */
  }
}

/* Medium devices (desktops) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for desktops */

  .banner-section {
    flex-direction: column-reverse;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .first-content {
    order: 2; /* Change the order of the first content for smaller screens */
  }

  .second-content {
    order: 1; /* Change the order of the second content for smaller screens */
  }
}

/* Large devices (large desktops) */
@media only screen and (min-width: 1025px) {
  /* Styles for large desktops */
}
